*{
    margin: 0px;
}
body{
    background-color: green;
}
.centre{
    display: grid;
    align-content: center;
    height: 100%;
    min-height: 100vh;
}
.show{
    visibility: visible;
    position: relative;
}
.hide{
    visibility: hidden;
    position: absolute;
}

table{
    border: none !important;
    border-collapse: collapse !important;
    color: rgb(231, 231, 231);
    font-size: 1em;
}
tr{
    border-bottom: 1px solid #ddd !important;
}
table tr:hover{
    display:fixed;
    font-size: 4em;
    color: rgb(72, 255, 0);
    background-color: rgba(163, 255, 178, 0.301) !important;
}
.selected{
    font-size: 4em;
    color: white;
    background-color: rgba(255, 255, 255, 0.301) !important;
}
.outer{
    overflow: hidden !important;
    scroll-behavior: smooth;
}
.table-space{
    height: 500px !important;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

button{
    border: none;
    width: 200px;
    outline: none;
    color: white;
    background-color: red;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    scale: (1.2,1.2);
    background-color: rgb(192, 0, 0);
}
button:active{
    background-color: red;
}

::-webkit-scrollbar{
    visibility: hidden;
}